* {
  box-sizing: border-box;
}

@font-face {
  font-family: USNavy;
  font-size: normal;
  font-weight: 400;
  src: url("fonts/usnavy.ttf");
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  flex-basis: 100%;
  text-align: center;
}

div.board-wrapper {
  display: flex;

  > div {
    display: flex;
  }
}

.friendly-fleet div p {
  text-align: right;
}

.enemy-fleet div div {
  transform: rotateY(180deg);
}

.ship-display {
  background-color: #EDEDED;
  height: 82px;
  padding: 0 10px;
  margin-bottom: 2px;
  border: 1px solid #242424;
  border-radius: 2px;
  user-select: none;

  p {
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0;
  }

  div {
    font-family: USNavy;
    font-size: 30px;
    text-align: right;
  }

  .ready {
    color: #4C774F;
  }

  .sunk {
    color: #E44D1E;
  }
}

div.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  grid-gap: 2px;

  div {
    border: 1px solid #242424;
    background-color: #58A2C7;
    border-radius: 2px;
  }

  div.ghost {
    background-color: #427D9A;
  }

  div.ship {
    background-color: #4065AA;
  }

  div.hit {
    background-image: url('../resources/flame.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }

  div.miss {
    background-image: url('../resources/circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
  }
}

div.friendly-board {
  margin: 0 20px;
}

div.enemy-board {
  margin-right: 20px;

  div {
    background-color: #AAAAAA;
  }
}
