* {
  box-sizing: border-box;
}

div.board {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  background-color: #58A2C7;

  div {
    border: 1px solid black;
  }
}

div.ghost {
  background-color: #427D9A;
}

div.ship {
  background-color: #4065AA;
}

div.target-board {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  background-color: rgba(#000000, 0.3);

  div {
    border: 1px solid #242424;
  }
}

div.hit {
  background-color: #FF5D2A;
}

div.miss {
  background-color: #FCFF54;
}
